{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="w-100">
    <h1 class="mb-0">Paweł
        <span class="text-primary">Siejka</span>
    </h1>
    <div class="subheading mb-5">WROCŁAW ·
        <a href="mailto:name@email.com">pawel.siejka1995@gmail.com</a>
    </div>
    <p class="lead mb-5" align="justify"> Jestem absolwentem Politechniki Wrocławskiej na kierunku Automatyka i Robotyka. Posiadam wiedzę na temat obiektowego programowania w C++11/14/17 oraz Python. Skupiam się na niskopoziomowym programowaniu ale doceniam możliwość szybkiego prototypowania oraz realizacji zadania w językach wysokiego poziomu z wykorzystaniem dostępnych frameworków.</p>
    <p class="lead mb-5" align="justify">W wolnym czasie poszerzam swoje umiejętności programistyczne, a także rozwijam zainteresowania w kierunku cyberbezpieczeństwa. Lubię również czytać książki i oglądać seriale z gatunków sci-fi/akcji.</p>
<a href="https://www.linkedin.com/in/pawe%C5%82-siejka/" class="icoLinkedin fa-4x float-xl-right" title="Linkedin"> <i class="fab fa-linkedin"></i></a>
<a href="https://bitbucket.org/psiejka/" class="icoBitBucket fa-4x float-xl-right" title="BitBucket"> <i class="fab fa-bitbucket"></i></a/
</div>

{% endblock %}