{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="w-100">
  <h2 class="mb-5">Edukacja</h2>

  <div class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5">
    <div class="resume-content">
      <h3 class="mb-0">Politechnika Wrocławska</h3>
      <div class="subheading mb-3">Magister</div>
      <div class="lead mb-5">Specjalność: Technologie informacyjne w systemach automatyki <br>
      Temat pracy: "Stegoanaliza z wykorzystaniem narzędzi sztucznej inteligencji"</div>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">Luty 2018 - Lipiec 2019</span>
    </div>
  </div>

  <div class="resume-item d-flex flex-column flex-md-row justify-content-between">
    <div class="resume-content">
      <h3 class="mb-0">Politechnika Wrocławska</h3>
      <div class="subheading mb-3">Inżynier</div>
      <div class="lead mb-5">Specjalność: Robotyka<br>
      Temat pracy: "Detekcja i śledzenie obiektów w strumieniu wizyjnym"</div>
    </div>
    <div class="resume-date text-md-right">
      <span class="text-primary">Październik 2014 - Luty 2018</span>
    </div>
  </div>

</div>

{% endblock %}