{% extends "base.html" %}
{% load static %}
{% block page_content %}

<div class="w-100">
    <h2 class="mb-5">Projekty</h2>
<div class="row">
{% for project in projects %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{ project.image.url }}">
            <div class="card-body">
                <h5 class="card-title" align="justify">{{ project.title }}</h5>
                <p class="card-text lead mb-5" align="justify">{{ project.description|truncatewords:20 }}</p>
                <a href="{% url 'project_detail' project.pk %}"
                   class="btn btn-primary">
                    Więcej
                </a>
            </div>
        </div>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}