{% extends "base.html" %}
{% load static %}

{% block page_content %}

<div class="w-100">
    <h2 class="mb-5">{{ project.title }}</h2>
    <div class="row">
        <div class="col-md-8">
            <img src="{{ project.image.url }}" alt="" width="100%">
        </div>
        <div class="col-md-4">
            <h5>O projekcie:</h5>
            <p class="lead mb-5" align="justify">{{ project.description }}</p>
            <br>
            <h5>Wykorzystana technologia:</h5>
            <p>{{ project.technology }}</p>
            <h5>Realizacja:</h5>
            <p>
                {{ project.start_date|date:"M, Y" }} 
                {% if project.start_date == project.finish_date%}  
                {% elif project.finish_date %} - {{ project.finish_date|date:"M, Y" }} 
                {% else %} - Obecnie 
                {% endif %}
            </p>
            {% if project.url %}
                <h5>Link:</h5>
                <p><a href="{{ project.url }}">{{ project.url }}</a></p>
            {% endif %}
        </div>
    </div>
</div>

{% endblock %}